body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
    padding-left: 1%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.top-banner {
    background-image: url(images/border.jpg);

}

.dream-big {
    background-image: images/;
}